:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #56876D;
    font-family: "LXGW Marker Gothic";
    font-size: 12pt;
    padding: 0px 50px 0px 50px;

    div {
        display: flex;
        gap: 5px;

        button {
            flex: 1;
            padding: 10px 20px 10px 20px;
            display: flex;
            color: #56876D;
            font-family: "LXGW Marker Gothic";
            font-size: 12pt;
            background-color: transparent;
            border-radius: 8px;
            border: #56876D 1px solid;
            align-items: center;
            gap: 20px;
            font-size: 18pt;
            cursor: grab;

            p {
                margin: 0;
                font-size: 11pt;
            }
        }

        .liveWebsite {
            flex: 0;
            font-size: 10pt;
        }
    }

    @media (max-width: 800px) {
        padding: 0 3vw;
    }
}