<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    class="mobile-sidenav">
    <button (click)="scroll('first'); sidenav.close()">
      Projects
    </button>
    <button (click)="scroll('second'); sidenav.close()">
      Skills
    </button>
    <button (click)="scroll('third'); sidenav.close()">
      Contact
    </button>
    <button (click)="openResume(); sidenav.close()">
      Resume
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav>
      <div class="desktopNav">
        <button class="active">About</button>
        <button (click)="scroll('first')">Projects</button>
        <button (click)="scroll('second')">Skills</button>
        <button (click)="scroll('third')">Contact</button>
        <button (click)="openResume()">Resume</button>
      </div>
      <button
        mat-icon-button
        class="menu-btn"
        (click)="sidenav.open()"
        aria-label="Open menu">
        <mat-icon>menu</mat-icon>
      </button>
    </nav>
  </mat-sidenav-content>
</mat-sidenav-container>