<mat-sidenav-container class="sidenav-container">
  <nav>
    <div class="desktopNav">
      <button class="active">About</button>
      <button (click)="scroll('first')">Projects</button>
      <button (click)="scroll('second')">Skills</button>
      <button (click)="scroll('third')">Contact</button>
      <button (click)="openResume()">Resume</button>
    </div>
    <button
      mat-icon-button
      class="menu-btn"
      aria-label="Open menu"
      (click)="snav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </nav>
  <mat-sidenav #snav fixedTopGap="56" position="end">
    <mat-nav-list>
      <button class="active">About</button>
      <button (click)="scroll('first')">Projects</button>
      <button (click)="scroll('second')">Skills</button>
      <button (click)="scroll('third')">Contact</button>
      <button (click)="openResume()">Resume</button>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>