:host {
    color: #56876D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 40px 0;

    h1 {
        font-family: "Moirai One";
        font-size: 110pt;
        box-sizing: border-box;
        line-height: 1.2em;
    }

    p {
        font-family: "LXGW Marker Gothic";
        font-size: 15pt;
        font-weight: bold;
        margin: 0;
    }

    .bottom {
        text-align: right;
    }

    @media (max-width: 800px) {
        padding: 15px 0;

        h1 {
            font-size: 20vw;
        }

        p {
            font-size: 3.5vw;
        }
    }
}