:host {
    color: #56876D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0 40px 0;

    h1 {
        font-family: "Moirai One";
        font-size: 110pt;
        box-sizing: border-box;
        line-height: 1.2em;
    }

    p {
        font-family: "LXGW Marker Gothic";
        font-size: 15pt;
        font-weight: bold;
        margin: 0;
    }

    .bottom {
        text-align: right;
    }

    .blob {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        top: -55vw;
        left: -20%;
        width: 90vw;
        height: 90vw;
        background: rgba(173,216,230,0.32);
    }

    @media (max-width: 800px) {
        padding: 40px 0;

        .blob {
            top: -40vw;
        }

        h1 {
            font-size: 20vw;
        }

        p {
            font-size: 3.5vw;
        }
    }
}