:host {
    position: relative;
    color: #56876D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 70px 0px;

    h1 {
        font-family: "Moirai One";
        font-size: 110pt;
        margin: 0px;
    }

    p {
        font-family: "LXGW Marker Gothic";
        font-size: 15pt;
        font-weight: bold;
        width: 430px;
    }

    .top {
        position: relative;
        top:50px;
        left: -40px;

    }

    .bottom {
        position: relative;
        bottom: 30px;
        left: 290px;
    }

    @media (max-width: 800px) {

        h1 {
            font-size: 18vw;
        }

        p {
            font-size: 4vw;
        }

        .top {
            left: 0vw;
        }
    }
}