:host {

    #blob1, #blob2, #blob3 {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
    }

    #blob1 {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        top: 10%;
        left: 5%;
        width: 400px;
        height: 400px;
        background: rgba(173,216,230,0.32);
    }

    #blob2 {
        top: 40%;
        right: 10%;
        width: 500px;
        height: 500px;
        background: rgba(177,225,175,0.25);
    }

    #blob3 {
        top: 70%;
        left: 50%;
        width: 350px;
        height: 350px;
        background: rgba(173,216,230,0.3);
    }
}