body, html {
    margin: 0px;
    scrollbar-width: none;        
    -ms-overflow-style: none;
    overflow-x: hidden; 
}

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
